html{
    scroll-behavior: smooth;
}

body{
    height: unset !important;
}

#content {
    position: relative;
    background-color: #F2F2F2;
}
#box{
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    width: 100%;
}
#divtitle{
    margin-top: 20px;
    width: 90%;
    position: absolute;
    top: -20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #495927;

}   
#title {
    display: flex;
    font-weight: 500;
    width: 100% !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 5px;
    color: #495927;
}
.popular{
    font-style: italic;
    font-size: 0.9em;
}
#bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 5px;
}
#div-search-bar{
    flex: 1;
    height: 1.5em;
    display: flex;
    align-items: center;
    position: relative;
    min-width: 370px;
}
#div-search-bar i{
    color: #495927;
    font-size: 1.3em;
    position: absolute;
    left: 15px;
}
#search-bar{
    padding: 5px;
    font-size: 12pt;
    border: 1px solid #7D8C46;
    border-radius: 10px;
    width: 100%;
    background-color: #F2F2F2;
    padding-left: 50px;
}
#search-bar:focus {
    outline: 1px solid #7D8C46;
}
#class-filter{
    width: 100%;
    height: 5vh;
    background-color: #495927;
}
.flex {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexItem{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 1500px) {
  #filter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  #filter button {
    flex: 1 1 calc(33.33% - 20px); /* 3 por linha */
  }

  #filter button:nth-child(n+4) {
    flex: 1 1 calc(50% - 20px); /* 2 por linha a partir do quarto */
  }
}

@media (max-width: 1200px) {
    .flex{
        min-width: 50%;
    }
    #bar {
        flex-direction: column;
        align-items: center;
    }
    #filter button{
        min-width: 200px;
    }
}
@media (max-width: 690px) {
    .flex{
        min-width: 60%;
    }
    #filter button{
        min-width: 200px;
    }
}
@media (max-width: 600px) {
    .flex{
        min-width: 80%;
    }

    #filter {
        flex-direction: column;
        align-items: center;
    }
    #species-list {
        max-height: 50vh !important;
        overflow: auto;
    }
}
@media (max-width: 400px) {
    .flex{
        min-width: 100%;
    }
}

.flex button {
    padding: 6px;
    width: 40%;
    margin: 5px;
    border: 2px solid #4959278f;
    background-color: transparent;
    color: #495927cc;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    font-size: 1em;
}

.flex button:hover {
    background-color: #4959278f;
    color: #fff;
}

.flex button.active {
    background-color: #4959278f;
    color: #fff;
}

/* Navbar letras */
#navbar-letters {
    position: sticky;
    top: -0;
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 8px;
    border-bottom: 1px solid #4959274d;
    overflow-x: scroll;

}
#navbar-letters a {
    font-size: 15pt;
    width: 25px;
    height: 100%;
    text-align: center;
    font-weight: 700;
    background: #f2f2f2;
    text-decoration: none;
    color: #495927cc;
    line-height: 30px;
}
#navbar-letters a:hover {
    background: #4959278f;
    color: #fff;
}
#navbar-letters a.disabled {
    color: gray;
    pointer-events: none;
    cursor: default;
    opacity: 0.4;
}


/* Lista espécies */
#species-list {
    flex: 1;
    height: 75vh;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 8px #49592726;
    padding: 0px 10px 10px 10px;
    font-family: "Prompt", sans-serif;
    color: #000;
    overflow: auto;
    box-sizing: border-box;
    border-top: 1px solid #495927;
    border-bottom: 1px solid #495927;
}
.specie-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}
.specie-item:hover{
    cursor: default;
    background-color: #49592721;
}
.spanClass{
    color: #495927;
}

/* Info espécie */
#div-info-specie{
    border-top: 1px solid #495927;
    border-bottom: 1px solid #495927;
    flex: 1;
    height: 75vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
    position: relative;
}

.gallery {
    padding-top: 120px !important;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    overflow: auto;
    justify-content: center;
    padding-top: 9vh;
}
.gallery strong{
    font-weight: 500;
    color: #495927;
}
@media (max-width: 730px) {
    .gallery {
        padding-top: 100px;
    }
}

.gallery-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 2px 5px #0000001a;
    min-width: 300px;
    max-width: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 300px;
}

.gallery-img {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.gallery-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    margin-top: 1px;
}

.info{
    font-size: 10pt;
}
.user a{
    color: #495927;
    font-weight: 400;
}

#linkinaturalist a{
        color: #495927 !important;
}

.hidden{
    display: none;
}

#btn-notidentified {
    padding: 6px;
    margin: 5px;
    border: 2px solid #4959278f;
    background-color: transparent;
    color: #495927cc;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    font-size: 1em;
}

#btn-notidentified:hover {
    background-color: #4959278f;
    color: #fff;
}

#btn-notidentified.active {
    background-color: #4959278f;
    color: #fff;
}

.full-width-info {
  width: 100%;
  display: block;
}

.hidden {
  display: none !important;
}


@media (max-width: 670px) {
    #box{
        flex-direction: column;
    }
}

