#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#box{
    width: 75%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #334027;
    border-radius: 5px;
    min-width: 320px;
    margin-bottom: 10px;
    padding-top: 20px;
}
#animal-fields{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#options{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#options button {
    padding: 6px;
    width: 30%;
    margin: 5px;
    border: 2px solid #334027;
    background-color: transparent;
    color: #334027;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    font-size: 1em;
}
#options button:hover {
    background-color: #334027;
    color: #fff;
}

#options button.active {
    background-color: #334027;
    color: white;
    font-weight: bold;
}


form{
    display: flex;
    width: 100%;
}
form > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 1.1em;
    padding: 10px;
}
.flexplace{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.flexplace input{
    width: 100%;
}
.flextitle{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}
.flextitle input{
    margin-left: 5px;
}
form input{
    border: 1px solid #7D8C46;
    height: 3vh;
}
form input:focus{
    outline: 1px solid #7D8C46;
}
.flex{
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: space-between;
    position: relative;
}
.flexcheck{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flexcheck div{
    display: flex;
    align-items: center;
    width: 100%;
}
.flexcheck input{
    outline: none !important;
    scale: 1.5;
    margin-right: 10px !important;
}
#identified{
    outline: none !important;
    scale: 1.5;
}
#flexradio{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#flexradio div{
    margin: 5px;
    display: flex;
    align-items: center;
}
#flexradio input{
    scale: 1.5;
    outline: none;
    margin-right: 10px;
}
#identified{
    margin-right: 5px;
}
#identified:hover {
    cursor: pointer;
}
.text{
    color: #334027;
    font-size: 1.2em;
}
textarea{
    min-width: 80%;
    min-height: 80px;
    max-width: 80%;
    max-height: 80px;
}
#image{
    margin: 10px;
    border: none;
}
#latitude, #longitude{
    border-color: #ccc;
}

#share{
    height: 10%;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    border: 1px solid #334027;
    background-color: #334027;
    font-size: 2.5vh;
    transition: 0.1s ease-out;
}
#share:hover{
    cursor: pointer;
    transform: scale(1.05);
}

@media (max-width: 950px) {
    #caixa {
        width: 100%;
    }
}

@media (max-width: 740px) {
    form {
        flex-direction: column;
    }

    #caixa {
        width: 75%;
    }
}

@media (max-width: 425px) {
    .flex {
        flex-direction: column;
    }
}

#dropdown-list.active {
    outline: 1px solid #ccc;
}

.dropdown-list {
    position: absolute;
    background: white;
    max-height: 200px;
    overflow-y: auto;
    top: 100%;
    width: 100%;
    z-index: 1000;
}
.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}
.dropdown-item span{
    width: 95%;
}
.dropdown-item a{
    visibility: hidden;
}
.dropdown-item:hover a{
    visibility: visible;
}
.dropdown-item a:hover{
    transform: scale(1.5);
}
.dropdown-item:hover {
    background-color: #eee;
}
