/* Descrição*/
#descricao{
    display: flex;
    justify-content: space-around;
    text-align: justify;
    width: 100%;
}
#lema{
    font-size: 2.5vw;
    color: #334027;
    margin-top: 0;
}
#texto{
    width: 45%;
}
/* Dados */
#dados{
    width: 55vh;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3vh;
    gap: 5%;
    background-color: rgba(125, 140, 70, 0.178);
    border-radius: 100%;
}
.num{
    color: #334027;
    font-size: 6vh;
    font-weight: bold;
}
.bloco{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Texto Geral*/
#divtextogeral{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
#imgtextogeral{
    width: 90%;
    height: 50vh;
    padding: 20px;
    background-image: url('../img/martimpescador_AoTak.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
#textogeral{
    padding: 20px 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    background: linear-gradient(90deg, rgba(82, 27, 27, 0) 35%, rgba(0, 0, 0, 0.8) 75%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
#textogeral p{
    width: 30%;
    font-size: 1.5vw;
    text-align: end;
}
/* Botão compartilhe*/
#btn-compartilhe{
    text-decoration: none;
    background-color: transparent;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    border: 2px solid #fff;
    font-size: 1.7vw;
}
#btn-compartilhe:hover{
    background-color: #fff;
    color: #000;
}


/* Destaques */
#destaques{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
#destaques > p{
    color: #334027;
    font-size: 2vw;
}
#barra-destaques{
    align-items: center;
    width: 85%;
    padding: 5px;
    border-top: 1px solid #334027;
    border-bottom: 1px solid #334027;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
@media (max-width: 1024px) {
    #barra-destaques {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    #barra-destaques {
        grid-template-columns: 1fr;
    }
}
.bloco-destaques{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloco-destaques img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
    border-radius: 8px;
}
.bloco-destaques img:hover{
    cursor: pointer;
    filter: brightness(70%);
}


