/* Barra de pesquisa */
#pergunta{
    font-size: 20pt;
    width: 100%;
    text-align: center;
}
.flex{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#div-barra-pesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#barra-pesquisa{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
#input-pesquisa{
    padding: 10px;
    font-size: 12pt;
    border: 1px solid #7D8C46;
    border-radius: 10px;
    width: 100%;
    background-color: #F2F2F2;
}
#input-pesquisa:focus{
    outline: 1px solid #7D8C46;
}

/* Navbar do catálogo*/
.divopcao{
    padding: 5px;
    width: 20vh;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #7D8C46;
    margin-left: 15px;
    margin-right: 15px;
    transition: 0.1s ease-out;
}
.divopcao img{
    border-radius: 5px;
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.divopcao:hover{
    cursor: pointer;
    transform: scale(1.05);
}

/* Botão compartilhe*/
#btn-compartilhe{
    margin-left: 10px;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    color: #334027;
    border-radius: 2px;
    border: 2px solid #334027;
    font-size: 1vw;
}
#btn-compartilhe:hover{
    cursor: pointer;
    background-color: #334027;
    color: #fff;
}

/* Feed */
#divfeed{
    width: 100%;
}
#navbar-feed{
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}
#texto{
    color: #334027;
    font-size: 2vw;
}
#filtro{
    text-align: end;
}
#feed{
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
@media (max-width: 1024px) {
    #feed {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    #feed {
        grid-template-columns: 1fr;
    }
}

/* Posts do feed */
.bloco-post{
    width: 100%;
    height: 57vh;
    border-top: 1px solid #334027;
    border-bottom: 1px solid #334027;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 10px;
    border-radius: 2px;
}
.bloco-post:hover{
    border-bottom: 2px solid #334027;
    border-top: 2px solid #334027;
    cursor: default;
}
/* Imagem do post */
.imagem-post{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagem-post img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.imagem-post img:hover{
    cursor: zoom-in;
}
/* Texto do post */
.texto-post{
    padding: 10px;
}
.texto-post span{
    font-size: 11pt;
    display: flex;
    flex-direction: column;
}
/* Nome */
.flexnome{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 5px;
    border-bottom: 1px solid #334027;
}
.nomepopular{
    font-weight: bold;
    color: #334027;
    font-size: 12pt !important;
}
.nome, .descricao {
    width: 100%;
    text-justify: auto;
}
/* Descrição */
.descricao{
    display: flex;
    width: 100%;
    height: 50% !important;
}
/* Endereço e autor*/
.autorendereco{
    width: 100%;
    font-size: 9pt !important;
    display: flex;
    flex-direction: column;
}
.endereco{
    width: 100%;
    align-items: baseline;
    display: flex;
}
.autor{
    width: 100%;
    align-items: baseline;
    display: flex;
}
.endereco i, .autor i{
    margin: 5px;
    font-size: 2vh;
    color: #334027;
}


/* Barra de interação do post */
.interacoes-post{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.interacoes-post i {
    margin: 5px;
    font-size: 3vh;
    color: #334027;
}
.interacoes-post i:hover{
    cursor: pointer;
}
.like:hover{
    color: #E65374;
}
.comentario:hover{
    color: #7D8C46;
}

.liked{
    color: #E65374 !important;
}

/* ID do post */
.idpost{
    visibility: hidden;
}

/* Botão "Ver mais" */
#ver-mais-container {
    text-align: center;
    margin-top: 20px;
}
#btn-ver-mais {
    background-color: #7D8C46;
    padding: 10px 20px;
    font-size: 12pt;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 5px #7D8C46;
    color: #fff;
}
#btn-ver-mais:hover{
    transform: scale(1.05);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}
.modal-conteudo {
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 95%;
    max-height: 85%;
}
.fechar {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}
