#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h3{
    color: #495927;
    font-weight: 500;
    font-size: 1.2em;
}
#div-incident-report{
    width: 80%;
    text-align: end;
}
#div-incident-report a{
    padding: 6px;
    border: 1px solid #495927;
    text-decoration: none;
    color: #495927;
    font-weight: bold;
}
#div-incident-report a:hover{
    background-color: #495927;
    color: #fff;
}

#box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.incident {
    background-color: #f8f8f8;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.img-incident {
    background-color: #495927;
    position: relative;
    width: 100%; 
    height: 200px;
    color: white; 
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.blur {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 8px;
}

.title-incident{
  position: relative;
  z-index: 2;
}

.title-incident {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: white;
    font-size: 1.2em !important;
    font-weight: 500;
    z-index: 2;
}

.desc {
    padding: 15px;
    margin: 10px 0 0 0;
    color: #555;
    font-size: 0.95rem;
    font-style:italic !important;
    min-height: 15vh;
}
.incident-author {
    padding: 15px;
    margin: 10px 0 0 0;
    color: #555;
    font-size: 0.95rem;
}

.eye-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.eye-open {
    display: none;
}


#btn-see-more {
    background-color: #334027;
    padding: 10px 20px;
    font-size: 12pt;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 5px #334027;
    color: #fff;
    transition: 0.1s ease-out;
}
#btn-see-more:hover {
    transform: scale(1.05);
}