/* Descrição*/
#descricao{
    display: flex;
    justify-content: space-around;
    text-align: justify;
    width: 100%;
}
#lema{
    font-size: 2.5vw;
    color: #334027;
}
#texto{
    width: 45%;
}
/* Dados */
#dados{
    width: 55vh;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3vh;
    gap: 5%;
    background-color: rgba(125, 140, 70, 0.178);
    border-radius: 100%;
}
.num{
    color: #334027;
    font-size: 6vh;
    font-weight: bold;
}
.bloco{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Destaques */
#destaques{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
#destaques > p{
    color: #334027;
    font-size: 2vw;
}
#barra-destaques{
    align-items: center;
    width: 85%;
    padding: 5px;
    border-top: 1px solid #334027;
    border-bottom: 1px solid #334027;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.bloco-destaques{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloco-destaques img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
    border-radius: 8px;
}
.bloco-destaques img:hover{
    cursor: pointer;
    filter: brightness(70%);
}
/* Botão compartilhe*/
#divbtn{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10bpx;
}
#btn-compartilhe{
    text-decoration: none;
    background-color: #7D8C46;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
}
#btn-compartilhe:hover{
    box-shadow: 2px 2px 5px #334027;
}


